.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/

### Custom section ###
**/dist/

# Logs
logs/
*.log

# Dependency directories
**/node_modules/

# local env files
.env.local
.env.*.local

.resourceCache/

**/src/generated/
**/coverage/
